<h2>About</h2>

<p>
    Hallo, meine Name ist THE BLACK ELEPHANT BAND.
    <br>
    <br>
    Ich bin nur ein Typ, keine Band. Es heißt trotzdem so. Ich schreibe Romane und
    veranstalte dies und das (siehe OTHER PROJECTS), hab das Nürnberger
    Folkpunk-Kollektiv FOLK'S WORST NIGHTMARE mitgegründet (siehe OTHER PROJECTS),
    aber die meiste Zeit bin ich das Solo-Antifolk-Songwriterprojekt,
    das so heißt wie die Website.
    <br>
    <br>
    Als THE BLACK ELEPHANT BAND schrammele ich Akustikgitarre,
    tröte Mundharmonika und singe „ungeschliffene, gestochen scharf auf den Punkt
    kommende, englischsprachige Songminiaturen voll von schrägem Humor und bitterbösen
    Weltbetrachtungen". Das nenne ich auch gerne
    <br>
    <br>
    angry antifolk // bearded bluespunk // sassy songwriting
    <br>
    <br>
    "Herrlich respektlos, einfach grandios hingerotzt.
    <br>
    Die Black Elephant Band ist so etwas wie die Ramones des Folk!"
    <br>
    "Die schlecht gestimmte Gitarre schnörkellos rudimentär, die Stimme ein wütendes Knurren, kaum ein Lied
    länger als zweieinhalb Minuten. Wunderbar!“
    <br>
    "Schräger Antifolk mit Bart, Klampfe und Mundharmonika. Zum Verlieben!"
    <br>
    "Klingt irgendwie als hätte der junge Bob Dylan mit Tenacious D einen gehoben."
    <br>
    <br>
    for fans of:
    <br>
    Jonathan Richman, Kimya Dawson, Andrew Jackson Jihad, The Tallest Man On Earth,
    The Homeless Gospel Choir, Tenacious D, Dave Van Ronk, Billy Bragg, Bob Dylan
    <br>
    <br>
    ***
    <br>
    <br>
    Hello, my name is THE BLACK ELEPHANT BAND.
    <br>
    <br>
    I'm just one guy, not a band. But that's the name. I write novels (in German)
    and sometimes organise events (see OTHER PROJECTS), I co-founded the Nuremberg-based
    folkpunk collective FOLK'S WORST NIGHTMARE (see OTHER PROJECTS), but most of the
    time I am the solo-antifolk-songwriter-project that's named like the website.
    <br>
    <br>
    As THE BLACK ELEPHANT BAND I strum the acoustic guitar, blow the harmonica and sing
    "raw, unpolished english song miniatures with an angry on-point world view and
    weird humor", or as I like to call it.
    <br>
    <br>
    angry antifolk // bearded bluespunk // sassy songwriting
    <br>
    <br>
    "Acoustic folk at its best."
    <br>
    "Weird anti-folk with beard, guitar and harmonia. To fall in love with."
    <br>
    "Authentic and refreshing with the very rare gift of writing, playing and
    performing in a way that is absolutely complete within itself."
    <br>
    "Grandiously half-assed. The Black Elephant Band is the Ramones of folk."
    <br>
    "I like the satirical lyrics." (Fred Cole of Dead Moon said this!!)
    <br>
    <br>

    for fans of:
    <br>
    Jonathan Richman, Kimya Dawson, Andrew Jackson Jihad, The Tallest Man On Earth,
    The Homeless Gospel Choir, Tenacious D, Dave Van Ronk, Billy Bragg, Bob Dylan
</p>

<a href="/">Back to home</a>