<div class="transparent">
    <br>
    <h2>ABOUT</h2>
    <div class="about-text">
<p><br>
<em>scroll down for English version</em>
<br>
<br>
Hallo auch.<br>
Das ist THE BLACK ELEPHANT BAND:
<br>
<br>
- Solo-Antifolk-Folkpunk-Songwriter-Projekt von Jan Bratenstein aus Nürnberg
<br>
<br>
angry antifolk // bearded bluespunk // sassy songwriting
<br>
<br>
„Ungeschliffene, gestochen scharf auf den Punkt kommende, englischsprachige
Songminiaturen voll von schrägem Humor und bitterbösen Weltbetrachtungen".
<br>
"Herrlich respektlos, einfach grandios hingerotzt.
Die Black Elephant Band ist so etwas wie die Ramones des Folk!"<br>
"Die schlecht gestimmte Gitarre schnörkellos rudimentär, die Stimme ein
wütendes Knurren,
kaum ein Lied länger als zweieinhalb Minuten. Wunderbar!“<br>
"Schräger Antifolk mit Bart, Klampfe und Mundharmonika. Zum Verlieben!"<br>
"Klingt irgendwie als hätte der junge Bob Dylan mit Tenacious D einen
gehoben."
<br>
<br>
for fans of:<br>
Jonathan Richman, Kimya Dawson, Andrew Jackson Jihad, Days n Daze, The
Tallest Man On Earth,
The Homeless Gospel Choir, Tenacious D, Dave Van Ronk, Billy Bragg, Bob
Dylan
<br>
<br>
- ungefähr 900 Konzerte in diversen Ländern auf dem Buckel<br>
- Kulturpreisträger der Stadt Nürnberg 2020<br>
- Gründungsmitglied des Musikkollektivs FOLK'S WORST NIGHTMARE<br>
- mit denen er folkpunkige Shows und Events plant, auf Radio Z sendet<br>
und allerlei Irrsinn betreibt<br>
- macht außerdem Krach mit den Bands AVERAGE PIZZA, PETS, ...<br>
- ist involviert in Nürnberger Veranstaltungsreihen wie SING-IN OPEN MIC
SUNDAY, COMIC CAFÉ,...<br>
- Autor des Romans DER MANN OHNE PIANO<br>
- Fahrer eines sehr alten, sehr großartigen VW Polo
<br>
<br>
</p>
<hr class="show-me">
<br>
<p>
Well, hello.<br>
This is THE BLACK ELEPHANT BAND:
<br>
<br>
- one man acoustic antifolk/folkpunk songwriter project of Jan
Bratenstein from Nuremberg, Germany
<br>
<br>
angry antifolk // bearded bluespunk // sassy songwriting
<br>
<br>
"Raw, unpolished English song miniatures with an angry on-point world
view and weirdo humor."<br>
"Weird anti-folk with beard, guitar and harmonica. To fall in love with."<br>
"Authentic and refreshing with the very rare gift of writing, playing and
performing in a way that is absolutely complete within itself."<br>
"Grandiously half-assed. The Black Elephant Band is the Ramones of folk."<br>
"I like the satirical lyrics." (Fred Cole of Dead Moon said this!!)
<br>
<br>
for fans of:<br>
Jonathan Richman, Kimya Dawson, Andrew Jackson Jihad, Days n Daze, The
Tallest Man On Earth,
The Homeless Gospel Choir, Tenacious D, Dave Van Ronk, Billy Bragg, Bob
Dylan
<br>
<br>
- played round about 900 shows in various countrys<br>
- won Nurembergs Kulturpreis (cultural award?) in 2020<br>
- founding member of the very active music collective (that rhymed!)
FOLK'S WORST NIGHTMARE<br>
- with which he plans folkpunky shows and events, hosts a radio show,
and has all sorts of mad ideas<br>
- also makes noisy things with AVERAGE PIZZA, PETS,...<br>
- involved in various Nuremberg-based events, such as the SING-IN OPEN
MIC, the COMIC CAFÈ,...<br>
- writer of the novel DER MANN OHNE PIANO<br>
- driver of a very old and very beautiful VW Polo<br>
</p>
</div>
</div>