<div class="transparent">
    <br>
<h2>This 'n That</h2>
<br>
{{#each blogs}}
<div class="blog-posts">
    <h3>{{this.title}}</h3>
    <p>{{{this.text}}}</p>

    {{#if ../user}}
    <a href="/blog/delete/{{this._id}}" class="edit-links">Delete</a>
    <a href="/blog/edit/{{this._id}}" class="edit-links">Edit</a>
    {{/if}}
</div>
{{/each}}

{{#if user}}
<h3>New Post</h3>
<form action="/blog" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="textarea" id="new-blog" name="text" placeholder="text">
    <br>
    <br>
    <button type="submit">Post new Blog</button>
</form>
{{/if}}

</div>
