<div class="transparent">

<h2>Contact</h2>
<br>
<br>
<p>Drop me an email on theblackelephantband@web.de</p>

<p>Donations/Spenden: <a href="paypal.me/theblackelephantband" target="_blank">paypal.me/theblackelephantband</a></p>

<p>Presskit: <a href="https://www.dropbox.com/sh/86nktiox06iylnt/AADwRrtx7lm_j6DeYlh6xLQ2a?dl=0"
        target="_blank">https://www.dropbox.com/sh/86nktiox06iylnt/AADwRrtx7lm_j6DeYlh6xLQ2a?dl=0</a></p>

<br>
<br>

</div>