<div class="transparent">
<br>
<h2>Contact</h2>
<br>
<br>
<h3 id="main-email">theblackelephantband@web.de</h3>
<br>
<p>Donations/Spenden: <a href="https://www.paypal.me/theblackelephantband" target="_blank" class="embedded">Paypal</a></p>

<p>Presskit: <a href="https://www.dropbox.com/sh/86nktiox06iylnt/AADwRrtx7lm_j6DeYlh6xLQ2a?dl=0"
        target="_blank" class="embedded">Click Me!</a></p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>