<h2>Edit Post</h2>

{{#with blog}}

<div class="edit-form transparent">
    <form action="/blog/edit/{{_id}}/edit" method="POST">

        <label for="title">Blog Title</label>
        <input name="title" type="text" value="{{title}}">
        <br>
        <label for="text">Blog Text</label>
        <input name="text" type="textarea" id="edit-blog" value="{{text}}">
        <br>

        <button type="submit">Submit Changes</button>

    </form>
</div>

{{/with}}