<div class="transparent">
    <h2>Impressum</h2>

<p>
    Links:

    Mit Urteil vom 12. Mai 1998 – 312 O 85/98 – „Haftung für Links“ hat das Landgericht (LG)
    Hamburg entschieden, dass man durch das Setzen eines Links, die Inhalte der gelinkten
    Seite ggf. mit zu verantworten hat. Dies kann – so das LG – nur dadurch verhindert werden,
    dass man sich ausdrücklich von diesen Inhalten distanziert. Hiermit distanzieren wir uns
    ausdrücklich von den verlinkten Seiten.

    Keine Bereitschaft zur Teilnahme an Streitbeilegungsverfahren:
    Wir nehmen nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
    teil.

    Datenschutzerklärung:

    Der Schutz personenbezogener Daten ist gerade in der heutigen Zeit ein

    wichtiges Gut und liegt uns daher besonders am Herzen.
    Mit unserer Datenschutzerklärung informieren wir Sie über Art, Umfang und

    Zweck der von uns erhobenen, verarbeiteten und genutzten personenbezogenen Daten.

    Darüber hinaus können Sie dem nachstehenden Text auch Ihre Rechte im Zusammenhang mit der
    Verarbeitung Ihrer personenbezogenen Daten durch uns entnehmen.
    Am Ende der Datenschutzerklärung haben wir einige Begriffe für Sie erklärt,

    die wir verwenden, um Ihnen das Verständnis der Datenschutzerklärung zu erleichtern.
    Zunächst möchten wir uns als Verantwortlicher für die Verarbeitung Ihrer personenbezogenen Daten
    vorstellen.
    Wir sind verantwortlich für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten, die
    ggf. von Ihnen im Rahmen Ihres Besuches unserer Webseite erhoben werden. Haben Sie hierzu Fragen, so
    nehmen Sie gern mit uns unter den genannten Kontaktdaten Verbindung auf.
    Ihre Rechte
    Ihnen stehen bezüglich Ihrer betreffenden personenbezogenen Daten die nachfolgend beschriebenen
    Rechte zu. Um diese geltend zu machen, wenden Sie sich bitte unter obigen Kontaktdaten an uns.
    Das Recht aus Bestätigung und auf Auskunft
    Sie können eine Bestätigung darüber verlangen, ob wir personenbezogene Daten von Ihnen verarbeiten.
    Verarbeiten wir personenbezogen Daten von Ihnen, so haben Sie Anspruch auf Auskunft über folgende
    Punkte:
    – die Verarbeitungszwecke
    – die Kategorien personenbezogener Daten, die verarbeitet werden,
    – die Empfänger oder die Kategorien von Empfängern, gegenüber denen die personenbezogenen Daten
    offengelegt werden, insbesondere bei Empfängern in Drittländern oder bei internationalen Organisationen,
    – falls möglich die geplante Dauer, für die die personenbezogenen Daten gespeichert werden, oder, falls dies
    nicht möglich ist, die Kriterien für die Festlegung dieser Dauer,
    – das Bestehen eines Rechts auf Berichtigung oder Löschung der sie betreffenden personenbezogenen
    Daten oder auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts
    gegen diese Verarbeitung,
    – das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde,
    – wenn die personenbezogenen Daten nicht bei der betroffenen Person erhoben werden, alle verfügbaren
    Informationen über die Herkunft der Daten,
    – das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Artikel 22
    Absätze 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die
    involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen Verarbeitung für
    die betroffene Person.
    Das Recht auf Berichtigung
    Sie haben das Recht, von uns unverzüglich die Berichtigung Sie betreffender unrichtiger personenbezogener
    Daten zu verlangen
    Darüber hinaus haben Sie, unter Berücksichtigung der Zwecke der Verarbeitung, das Recht, die
    Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung –
    zu verlangen.
    Das Recht auf Löschung
    Sie können von uns verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht
    werden. In diesem Fall sind wir verpflichtet, personenbezogene Daten unverzüglich zu löschen, sofern einer
    der folgenden Gründe zutrifft:

    – die personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet
    wurden, nicht mehr notwendig;
    – Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung stützte, und es fehlt an einer anderweitigen
    Rechtsgrundlage für die Verarbeitung;
    – Sie legen Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gründe für
    die Verarbeitung vor, oder Sie legen Widerspruch gegen die Verarbeitung ein;
    – die personenbezogenen Daten wurden unrechtmäßig verarbeitet;
    – die Löschung der personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem
    Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem wir unterliegen;
    – die personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft
    gemäß Artikel 8 Absatz 1 erhoben.
    Sind wir nach den vorgenannten Grundsätzen zur Löschung verpflichtet, und haben wir Ihre
    personenbezogenen Daten öffentlich gemacht, so werden wir unter Berücksichtigung der verfügbaren
    Technologie und der Implementierungskosten angemessene Maßnahmen, auch technischer Art, ergreifen,
    um die für die Datenverarbeitung anderen Verantwortlichen, die die personenbezogenen Daten verarbeiten,
    darüber zu informieren, dass Sie von diesen die Löschung aller Links zu diesen personenbezogenen Daten
    oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.
    Das Recht auf Einschränkung der Verarbeitung
    Unter den nachfolgenden Voraussetzungen haben Sie das Recht, von uns die Einschränkung der
    Verarbeitung Ihrer personenbezogenen Daten zu verlangen, nämlich wenn:
    – die Richtigkeit der personenbezogenen Daten von Ihnen bestritten wird, und zwar für eine Dauer, die es
    uns ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;
    – die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und
    stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;
    – wir die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigen, Sie diese
    jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder
    – Sie Widerspruch gegen die Verarbeitung eingelegt haben, solange noch nicht feststeht, ob unsere
    berechtigten Gründe gegenüber Ihren überwiegen.
    Das Recht auf Datenübertragbarkeit
    Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in
    einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten.
    Darüber hinaus haben Sie das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch
    den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern
    – die Verarbeitung auf einer Einwilligung oder auf einem Vertrag beruht und
    – die Verarbeitung mithilfe automatisierter Verfahren erfolgt.
    Bei der Ausübung Ihres Rechts auf Datenübertragbarkeit haben Sie das Recht, zu erwirken, dass Ihre
    personenbezogenen Daten direkt von einem Verantwortlichen einem anderen Verantwortlichen übermittelt
    werden, soweit dies technisch machbar ist.
    Recht zum Widerspruch gegen die Datenverarbeitung
    Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die
    Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund Ihrer Einwilligung oder aufgrund
    unseres berechtigten Interesses erfolgt, Widerspruch einzulegen; dies gilt auch für ein Profiling.
    Nach Ihrem Widerspruch werden wir Ihre personenbezogenen Daten nicht mehr verarbeiteten, es sei denn,
    wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte
    und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung
    von Rechtsansprüchen.
    Werden personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht,
    jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke
    derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in
    Verbindung steht.
    Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die personenbezogenen
    Daten nicht mehr für diese Zwecke verarbeitet.
    Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Sie
    betreffende Verarbeitung Sie betreffender personenbezogener Daten, die zu wissenschaftlichen oder
    historischen Forschungszwecken oder zu statistischen Zwecken erfolgt, Widerspruch einzulegen, es sei

    denn, die Verarbeitung ist zur Erfüllung einer im öffentlichen Interesse liegenden Aufgabe erforderlich.
    Recht auf Widerruf der Einwilligung
    Haben Sie uns Ihre Einwilligung zur Verarbeitung Ihrer personenbezogenen Daten (z.B. zum
    Newsletterversand) erteilt, so haben Sie darüber hinaus das Recht, diese Einwilligung jederzeit mit Wirkung
    für die Zukunft zu widerrufen. Durch den Widerruf wird die Rechtmäßigkeit der aufgrund der Einwilligung bis
    zum Widerruf erfolgten Verarbeitung nicht berührt.
    Beschwerderecht bei einer Aufsichtsbehörde
    Darüber hinaus haben Sie zudem das Recht, bei einer Datenschutzaufsichtsbehörde eine Beschwerde
    gegen uns einzulegen, wenn Sie der Ansicht sind, dass unsere Verarbeitung Ihrer personenbezogenen
    Daten gegen geltendes Datenschutzrecht verstößt. Die für uns zuständige Aufsichtsbehörde ist das
    Bayerische Landesamt für Datenschutzaufsicht, Promenade 27 (Schloss), 91522 Ansbach, Telefon: +49 (0)
    981 53 1300, Telefax: +49 (0) 981 53 98 1300, E-Mail: poststelle@lda.bayern.de.
    4. Datenverarbeitung beim Besuch unserer Webseite
    Die Nutzung unserer Internetseite ist grundsätzlich ohne die aktive Angabe von personenbezogenen Daten
    möglich. Bei jedem Aufruf unserer Internetseite, also auch bei rein informatorischer Nutzung, werden jedoch
    technisch bedingt verschiedene Daten und Informationen von uns erfasst, und in sog. Logfiles bzw.
    Serverlogfiles (Protokolldateien) unseres Servers gespeichert Es handelt sich hierbei nur um die
    personenbezogenen oder personenbeziehbaren Daten, die Ihr Browser an unseren Server übermittelt.
    Erfasst und gespeichert werden:
    – die IP-Adresse (Internetprotokoll-Adresse),
    – das Datum und die Uhrzeit des Zugriffs auf unsere Internetseite,
    – die für den Zugriff auf unsere Internetseite verwendeten Browsersoftware/Browsertypen
    (Computerprogramme zur Darstellung von Webseiten) sowie deren Versionen und Sprache,
    – das von dem auf unser System zugreifende Betriebssystem und dessen Oberfläche,
    – der Internet-Service-Provider (Internetdiensteanbieter) des zugreifenden Systems,
    – Inhalt der Anforderung (Inhalte der konkret aufgerufenen Seiten),
    – jeweils übertragene Datenmenge,
    – Zugriffsstatus/HTTP-Statuscode (vom Server auf jede HTTP-Anfrage gelieferte Antwort, die den Status der
    Anfrage darstellt),
    – die Internetseite, von welcher auf unsere Internetseite zugegriffen wird,
    – Zeitzonendifferenz zur Greenwich Mean Time (GMT).
    Die Speicherung der IP-Adresse – und sei dies auch nur für eine kurze Zeit – ist aufgrund der
    Funktionsweise des Internets technisch notwendig.
    Auch die weiteren zuvor genannten Informationen und Daten werden von uns nicht genutzt, um
    Rückschlüsse auf Sie zu ziehen und Sie zu identifizieren. Daten, die eine Identifikation Ihrer Person möglich
    machen, werden frühestmöglich anonymisiert.
    Die oben aufgeführten Daten und Informationen werden von uns ausschließlich erhoben, um Ihnen unsere
    Webseite anzuzeigen und deren Stabilität und Sicherheit zu gewährleisten und diesbezüglich unsere
    Webseite zu optimieren.Die Erhebung der genannten Daten dient also dem Zwecke der Verbesserung der
    Datensicherheit der von uns genutzten Programme und Systeme. Darüber hinaus nutzen wir die Daten für
    die anonyme, statistische Auswertung Ihrer Bewegungen auf unserer Webseite.
    Rechtsgrundlage für die Erhebung der genannten Daten ist unser berechtigtes Interesse an der
    Funktionsfähigkeit und Sicherheit unserer Webseite. Darüber hinaus haben wir ein berechtigtes Interesse
    daran, die anonymen bzw. anonymisierten Daten zur Auswertung des Nutzerverhaltens auf unseren Seiten
    zu verwenden, um die Wirksamkeit unserer Webseitengestaltung und unseres Webseitenaufbaus bewerten
    zu können.
    6. Versand von Newslettern
    Wir bieten den Versand von Newslettern (regelmäßiges Rundschreiben mit werblichem Inhalt) an. Unseren
    Newsletter versenden wir maximal 15 mal im Jahr.

    Anmeldung
    Die Anmeldung zu unserem Newsletter kann erfolgen über unsere Seite „Newsletter Anmelden“ bzw. über
    die Newsletterbestellmaske unten rechts auf unseren Seiten durch die Eingabe Ihrer E-Mail-Adresse in das
    dafür vorgesehene Feld und des anschließenden Anklickens des Buttons „Newsletter Bestellen“ oder im
    Rahmen des Bestellablaufes durch abhaken des Einwilligungskästchens. Die Angabe der E-Mail-Adresse ist
    freiwillig, jedoch für den Erhalt des Newsletters erforderlich.
    Die Angabe Ihres Vor- und/oder Zunamens im Zusammenhang mit der Anmeldung zu unserem Newsletter
    ist ebenfalls freiwillig und für den Bezug des Newsletters nicht erforderlich. Teilen Sie uns Ihren Namen im
    Rahmen der Anmeldung jedoch mit, so nutzen wir diesen, um Sie in den Newslettern namentlich ansprechen
    zu können.
    Double-Opt-In und Protokollierung
    Sofern Sie sich für unseren Newsletter über unsere Seite „Newsletter Anmelden“) bzw. über die
    Newsletterbestellmaske anmelden, nutzen wir das sogenannte Double-Opt-In-Verfahren. Hierbei erhalten
    Sie, nachdem Sie den Button zur Newsletteranmeldung angeklickt haben, von uns eine automatisch
    generierte E-Mail an die von Ihnen eingetragene E-Mail-Adresse mit der Bitte, den in dieser E-Mail
    enthaltenen Bestätigungslink anzuklicken und so den Versand unseres Newsletters an Sie freizuschalten.
    Darüber hinaus speichern wir neben Ihrer E-Mail-Adresse und Ihrem Vor- und/oder Zunamen, sofern
    angegeben, die im Zeitpunkt der Newsletteranmeldung Ihnen bzw. dem von Ihnen für die Anmeldung
    genutzten Gerät zugeordnete IP-Adresse (Internetprotokolladresse), sowie das Datum und die Uhrzeit der
    Anmeldung. Die Erhebung dieser weiteren Daten dient unserer rechtlichen Absicherung. Sie ist erforderlich,
    um einen etwaigen Missbrauch Ihrer E-Mail-Adresse durch einen Dritten nachvollziehen bzw. nachweisen zu
    können.1
    Verwendung der Anmeldedaten
    Die von Ihnen im Rahmen der Newsletter übermittelten Daten werden ausschließlich für die Versendung der
    Newsletter verwendet. Eine Weitergabe der im Rahmen des Newsletterdienstes erhobenen
    personenbezogenen Daten über die weitergabe an Mailchimp hinaus erfolgt nicht.
    Widerruf der Einwilligung
    Sie können Ihre Einwilligung zum Erhalt unseres Newsletters jederzeit widerrufen, das heißt, unseren
    Newsletter abmelden bzw. abbestellen. Einen entsprechenden Link zur Abmeldung des Newsletters finden
    Sie am Ende eines jeden von uns gesendeten Newsletters. Darüber hinaus besteht die Möglichkeit, uns die
    Abmeldung vom Newsletter auf sonstige, schirfitliche Weise mitzuteilen.
    Einsatz des Versanddienstleisters „MailChimp“
    Der Versand der Newsletter erfolgt mittels „MailChimp“, einer Newsletterversandplattform
    des US-Anbieters Rocket Science Group, LLC, 675 Ponce De Leon Ave NE #5000,
    Atlanta, GA 30308, USA.
    Die E-Mail-Adressen unserer Newsletterempfänger, als auch deren weitere, im Rahmen
    dieser Hinweise beschriebenen Daten, werden auf den Servern von MailChimp in den
    USA gespeichert. MailChimp verwendet diese Informationen zum Versand und zur
    Auswertung der Newsletter in unserem Auftrag. Des Weiteren kann MailChimp nach
    eigenen Informationen diese Daten zur Optimierung oder Verbesserung der eigenen
    Services nutzen, z.B. zur technischen Optimierung des Versandes und der Darstellung der
    Newsletter oder für wirtschaftliche Zwecke, um zu bestimmen aus welchen Ländern die
    Empfänger kommen. MailChimp nutzt die Daten unserer Newsletterempfänger jedoch
    nicht, um diese selbst anzuschreiben oder an Dritte weiterzugeben.
    Wir vertrauen auf die Zuverlässigkeit und die IT- sowie Datensicherheit von
    MailChimp. MailChimp ist unter dem US-EU-Datenschutzabkommen „Privacy Shield“
    zertifiziert und verpflichtet sich damit die EU-Datenschutzvorgaben einzuhalten. Des
    Weiteren haben wir mit MailChimp ein „Data-Processing-Agreement“ abgeschlossen.
    Dabei handelt es sich um einen Vertrag, in dem sich MailChimp dazu verpflichtet, die
    1 Sollten weitere Daten gespeichert werden, bspw. welches Endgerät für die Anmeldung genutzt wurde, welches
    Betriebssystem dieses
    Gerät hat, etc. sind diese Punkte ebenfalls anzugeben.

    Daten unserer Nutzer zu schützen, entsprechend dessen Datenschutzbestimmungen in
    unserem Auftrag zu verarbeiten und insbesondere nicht an Dritte weiter zu geben. Die
    Datenschutzbestimmungen von MailChimp können Sie hier einsehen.
    Statistische Erhebung und Analysen
    Die Newsletter enthalten einen sog. „web-beacon“, d.h. eine pixelgroße Datei, die beim
    Öffnen des Newsletters von dem Server von MailChimp abgerufen wird. Im Rahmen
    dieses Abrufs werden zunächst technische Informationen, wie Informationen zum Browser
    und Ihrem System, als auch Ihre IP-Adresse und Zeitpunkt des Abrufs erhoben. Diese
    Informationen werden zur technischen Verbesserung der Services anhand der
    technischen Daten oder der Zielgruppen und ihres Leseverhaltens anhand derer Abruforte
    (die mit Hilfe der IP-Adresse bestimmbar sind) oder der Zugriffszeiten genutzt.
    Zu den statistischen Erhebungen gehört ebenfalls die Feststellung, ob die Newsletter
    geöffnet werden, wann sie geöffnet werden und welche Links geklickt werden. Diese
    Informationen können aus technischen Gründen zwar den einzelnen
    Newsletterempfängern zugeordnet werden. Es ist jedoch weder unser Bestreben, noch
    das von MailChimp, einzelne Nutzer zu beobachten. Die Auswertungen dienen uns viel
    mehr dazu, die Lesegewohnheiten unserer Nutzer zu erkennen und unsere Inhalte auf sie
    anzupassen oder unterschiedliche Inhalte entsprechend den Interessen unserer Nutzer zu
    versenden.
    Online-Aufruf und Datenmanagement
    Es gibt Fälle, in denen wir die Newsletterempfänger auf die Webseiten von MailChimp
    leiten. Z.B. enthalten unsere Newsletter einen Link, mit dem die Newsletterempfänger die
    Newsletter online abrufen können (z.B. bei Darstellungsproblemen im E-Mailprogramm).
    Ferner können Newsletterempfänger ihre Daten, wie z.B. die E-Mailadresse nachträglich
    korrigieren. Ebenso ist die Datenschutzerklärung von MailChimp nur auf deren Seite
    abrufbar.
    In diesem Zusammenhang wiesen wir darauf hin, dass auf den Webseiten von MailChimp
    Cookies eingesetzt und damit personenbezogene Daten durch MailChimp, deren Partnern
    und eingesetzten Dienstleistern (z.B. Google Analytics) verarbeitet werden. Auf diese
    Datenerhebung haben wir keinen Einfluss. Weitere Informationen können Sie
    der Datenschutzerklärung von MailChimp entnehmen. Wir weisen Sie zusätzlich auf die
    Widerspruchsmöglichkeiten in die Datenerhebung zu Werbezwecken auf den
    Webseiten http://www.aboutads.info/choices/ und http://www.youronlinechoices.com/(für
    den Europäischen Raum) hin.
    Kündigung/Widerruf
    Sie können den Empfang unseres Newsletters jederzeit kündigen, d.h. Ihre Einwilligungen
    widerrufen. Damit erlöschen gleichzeitig Ihre Einwilligungen in dessen Versand via
    MailChimp und die statistischen Analysen. Ein getrennter Widerruf des Versandes via
    MailChimp oder der statistischen Auswertung ist leider nicht möglich.
    Einen Link zur Kündigung des Newsletters finden Sie am Ende eines jeden Newsletters.
    Rechtsgrundlagen Datenschutzgrundverordnung
    Entsprechend den Vorgaben der ab dem 25. Mai 2018 geltenden
    Datenschutzgrundverordnung (DSGVO) informieren wir Sie, dass die Einwilligungen in
    den Versand der E-Mailadressen auf Grundlage der Art. 6 Abs. 1 lit. a, 7 DSGVO sowie §

    7 Abs. 2 Nr. 3, bzw. Abs. 3 UWG erfolgt. Der Einsatz des Versanddienstleisters MailChimp,
    Durchführung der statistischen Erhebungen und Analysen sowie Protokollierung des
    Anmeldeverfahrens, erfolgen auf Grundlage unserer berechtigten Interessen gem. Art. 6
    Abs. 1 lit. f DSGVO. Unser Interesse richtet sich auf den Einsatz eines nutzerfreundlichen
    sowie sicheren Newslettersystems, das sowohl unseren geschäftlichen Interessen dient,
    als auch den Erwartungen der Nutzer entspricht.
    Mailchimp und deren Seite verwendet Cookies, alle genaueren Angaben finden Sie hier:
    https://mailchimp.com/legal/cookies/?_ga=2.149196726.1828771697.1526548653-
    735813375.1526548653
    Wir weisen Sie ferner darauf hin, dass Sie der künftigen Verarbeitung Ihrer
    personenbezogenen Daten entsprechend den gesetzlichen Vorgaben gem. Art. 21
    DSGVO jederzeit widersprechen können. Der Widerspruch kann insbesondere
    gegen die Verarbeitung für Zwecke der Direktwerbung erfolgen.
    Für die Auswertung verknüpfen wir Ihre
    – IP-Adresse
    – Datum und Uhrzeit der Anfrage
    – Zeitzonendifferenz zur Greenwich Mean Time (GMT)
    – Inhalt der Anforderung (konkrete Seite)
    – Zugriffsstatus/HTTP-Statuscode
    – jeweils übertragene Datenmenge
    – Website, von der die Anforderung kommt
    – Browser
    – Betriebssystem und dessen Oberfläche
    – Sprache und Version der Browsersoftware
    und die Web-Beacons mit Ihrer E-Mail-Adresse und einer individuellen ID
    Mit Hilfe der Tracking-Pixel analysieren wir das Leseverhalten unserer Newsletterempfänger.
    – Öffnungs- und Klickrate
    Für die Ermittlung der Öffnungsrate wird in den Newsletter ein Zählpixel integriert, welches zählt, wie oft es
    heruntergeladen wird.
    Die in den Newslettern integrierten Links sind als Tracking-Links angelegt, so dass jedes Anklicken des Links
    erfasst und gezählt wird.
    Wir nutzen diese Daten, um unser Newsletterangebot zu verbessern und an die Wünsche unserer Kunden
    bzw. Newsletterempfänger anzupassen.
    Anhand der Öffnungsrate können wir feststellen, ob der jeweils von uns bezeichnete Betreff wohl gewählt ist
    oder ob wir diesen interessanter gestalten müssen, um die Öffnung unseres Newsletters zu erreichen.
    Mit der Klickrate ermitteln wir, ob und in welchem Umfang die Themen, die wir für unsere Newsletter wählen,
    für die Empfänger von Interesse sind.
    An der Analyse und Auswertung der Öffnungs- und Klickrate haben wir ein berechtigtes Interesse, da wir den
    Lesern unseres Newsletters interessengerechte Informationen zukommen lassen und insbesondere unseren
    Kunden die für sie wichtigen und hilfreichen Themen.
    – Bounce-Rate (Ermittlung nicht zugestellter Newsletter – Rücklaufmessung)
    Anhand der Bounce-Rate wird uns angezeigt, zu welchem Prozentsatz der Newsletter, bezogen auf die
    Gesamtzahl der versendeten Newsletter, nicht zustellbar war.
    Dabei wird auch eine Auswertung vorgenommen, ob es sich um eine temporäre Unzustellbarkeit handelt
    (Softbounce) oder um eine permanente Unzustellbarkeit (Hardbounce). Im Falle des Softbunce wird die
    fragliche Adresse für die Zustellung des Newsletters für einen Monat gesperrt, im Falle des Hardbounce
    erfolg die Sperre für ein Jahr bzw. wird die Adresse gelöscht.

    Zweck der Auswertung der Bounce-Rate ist die Verbesserung unsere Absender-Reputation, die in
    unmittelbarem Zusammenhang mit der Rate der unzustellbaren Newsletter steht. Je höher die Bounce-Rate,
    desto schlechter ist die Absender-Reputation und damit die Gefahr, dass unser Newsletter in den Spam-
    Ordner statt in das Postfach gelegt wird.
    Unser Interesse liegt in der erfolgreichen Zustellung unserer Newsletter und der optimalen Bedienung der
    Newsletterempfänger mit unseren Mailings.
    – Abmelderate
    Wir erfassen die Abmelderate, also die Abmeldungen von unserem Newsletter, die nach der Versendung des
    Newsletters, insbesondere über den im Newsletter enthaltenen Abmeldelink, vorgenommen werden. Die
    Information dient uns zum einen als Indikator für die Qualität unseres Newsletters. Zum anderen benötigen
    wir diese Information auch, um die notwendigen Schritte einzuleiten, damit Sie von uns keine weiteren
    Newsletter zugesendet bekommen.
    Dauer der Speicherung
    Ihre Daten werden nach Erreichen des Speicherungszwecks gelöscht. Dies gilt jedoch nicht, soweit wir
    aufgrund handels- und steuerrechtlicher Vorgaben verpflichtet sind, Ihre Daten aufzubewahren. Bei diesen
    Daten handelt es sich um Ihre Adress-, Zahlungs- und Bestelldaten.
    Darüber hinaus besteht bei begründetem Interesse die Möglichkeit, dass wir die Daten bis zum Ablauf
    zivilrechtlicher Verjährungsfristen speichern, um etwaige zivilrechtliche Ansprüche geltend machen zu
    können.
    In jedem Fall schränken wir die Verarbeitung Ihrer Daten nach zwei Jahren ein. Dies bedeutet, dass Ihre
    Daten lediglich zur Einhaltung der gesetzlichen Verpflichtungen oder zur Verteidigung berechtigter bzw. ggf.
    zur Abwehr unberechtigter zivilrechtlicher Ansprüche genutzt werden.
    9. SSL- bzw. TLS-Verschlüsselung
    Wir nutzen auf unseren Webseiten, über die personenbezogene Daten eingegeben werden können
    (Eintragung in unseren Newsletter), die Verschlüsselungstechnik TLS (Transport Layer Security). Hierbei
    handelt es sich um ein Protokoll zur Verschlüsselung von Datenübertragungen, um den unberechtigten
    Zugriff Dritter auf Ihre personenbezogenen Daten, insbesondere Ihre Bank- bzw. Finanzdaten, zu
    verhindern. Sie erkennen die Verschlüsselung an der Bezeichnung „https://“.
    11. YouTube
    Auf einigen Seiten unseres Internetauftritts haben wir YouTube-Videos eingebunden. Diese Videos sind über
    unsere Webseite unmittelbar abspielbar und auf der Seite https://youtube.com gespeichert.
    Die Seite http://www.youtube.com wird betrieben von der YouTube LLC., 901 Cherry Ave., San Bruno, CA 94066,
    USA, einer Tochter der Google Inc.
    Bereitstellung von YouTube-Videos
    Auf unseren Webseiten haben wir zum Teil YouTube-Videos eingebunden. Rufen Sie eine Seite, auf der ein
    solches Video eingebunden ist, auf, so werden an YouTube unter anderem Ihre IP-Adresse, Datum und
    Uhrzeit des Abrufs des Videos, Inhalt des Videos, Zugriffsstatus, die Datenübertragungsmenge, die
    Webseite, von welcher aus die Abfrage erfolgt, Ihr Browser, sowie dessen Version und Sprache, das von
    Ihnen verwendete Betriebssystem und dessen Oberfläche, die eindeutige Gerätekennung (die Zeichenfolge,
    mit der ein Hersteller das Gerät versieht und anhand derer das Gerät eindeutig identifiziert werden kann), die
    genutzte Hardware, die Referrer-URL gesendet und dort verarbeitet. Darüber hinaus erhält YouTube
    Kenntnis davon, dass Sie sich das fragliche Video angeschaut haben.
    Weitere Informationen zur Erhebung und Verarbeitung von Daten beim Abruf bzw. bei Widergabe von
    YouTube-Videos finden Sie unter https://policies.google.com/privacy?hl=de&gl=de.
    Sind Sie mit dem von Ihnen genutzten Endgerät im Zeitpunkt der Auswahl bzw. Betrachtung des Videos bei
    YouTube oder in Ihrem Google-Konto angemeldet, werden die erhobenen Daten Ihrem Konto unmittelbar
    zugeordnet. Möchten Sie dies vermeiden, müssen Sie sich vor Aufruf einer unserer Seiten, auf denen
    YouTube-Videos eingebunden sind, aus Ihrem YouTube- bzw. Google-Konto ausloggen.
    Speicherung und Nutzung von Daten durch YouTube
    Unabhängig davon, ob Sie mit Ihrem YouTube- oder Google-Konto angemeldet sind, speichert YouTube bzw.
    Google Ihre Daten im Rahmen von Nutzerprofilen. Diese werden von YouTube bzw. Google zu Zwecken der
    Marktforschung und (bedarf- bzw. interessengerechter) Werbung aber auch zur interessengerechten
    Gestaltung der eigenen Webseiten genutzt. Ferner besteht die Möglichkeit, Nutzer der YouTube- bzw.

    Google-Netzwerke nachzuvollziehen und festzustellen, welche Videos Sie auf unserer Seite angeschaut
    bzw. welche unserer Seiten Sie besucht haben.
    Das Ihnen zustehende Widerspruchsrecht zur Erstellung von Nutzerprofilen müssen Sie, im Bedarfsfalle,
    gegenüber YouTube ausüben.
    Nähere Informationen zu Zweck und Umfang der Datenerhebung durch YouTube, bzw. Google finden Sie
    unter dem obigen Link.
    Weitere Informationen zu YouTube finden Sie unter https://www.youtube.com/intl/de/yt/about/.
    Unser Interesse an der Nutzung von YouTube
    Die Nutzung von YouTube-Videos erfolgt, um unsere Webseiten für die Nutzer bzw. Besucher unserer Seiten
    interessanter und vielfältiger zu gestalten. Wir sind bestrebt, die Inhalte und die Darbietung unserer Inhalte
    abwechslungsreich anzulegen, um weiterhin Traffic auf unsere Webseiten zu ziehen und weitere
    Interessenten zu gewinnen. Hierin liegt ein berechtigtes Interesse eines jeden Webseitenbetreibers.
    Verarbeitung personenbezogener Daten durch YouTube bzw. Google in den USA
    YouTube bzw. Google verarbeiten die erhobenen personenbezogenen Daten auch in den USA. In diesem
    Zusammenhang hat sich Google (als rechtliche Vertreterin der YouTube LLC.) dem EU-US-Privacy-Shield
    unterworfen, https://www.privacyshield.gov/EU-US-Framework.
    12. Google Webfonts
    Wir nutzen auf unseren Webseiten sog. Webfonts, um die Inhalte auf unseren Webseiten
    browserübergreifend ansprechend, korrekt und einheitlich anzuzeigen. Die ansprechende und korrekte
    Darstellung unserer Inhalte stellt ein berechtigtes Interesse dar.
    Bei den von uns verwendeten Webfonts handelt es sich um Google Webfonts der Google LLC (Google),
    Amphitheatre Parkway, Mountain View, CA 94043, USA,
    Als Font wird allgemein ein auf einem Endgerät oder der diesem angeschlossenen Umgebung befindliche
    Schrift bezeichnet. Webfonts ermöglichen es dabei, Schriftarten zu nutzen, die nicht auf dem PC des
    Besuchers unserer Seite bzw. dem Gerät, mit dem unsere Seite besucht wird, hinterlegt sind.
    Die auf der von Ihnen aufgerufenen Webseite genutzten Fonts werden bei Aufruf dieser Seite von Ihrem
    Browser in Ihren Browsercache geladen, so dass die Inhalte (Texte und Schriftzeichen) korrekt angezeigt
    werden. Hierbei nimmt der von Ihnen verwendete Browser Verbindung mit den Servern von Google auf. Im
    Rahmen dieser Verbindung zwischen Ihrem Browser und Google erhält Google Kenntnis darüber, dass Ihre
    IP-Adresse auf unsere Webseite zugegriffen hat. Gemäß der Darstellung von Google erfolgt jedoch keine
    Zusammenführung von anderweitig bekannten personenbezogenen Daten (z.B. wenn Sie im Zeitpunkt des
    Aufrufes unserer Webseite bei Ihrem Google-Konto angemeldet sind) und dem Umstand, dass Ihre IPAdresse
    mit Aufruf einer Webseite an Google übermittelt wird.
    Die CSS (Cascading Style Sheets – eine Programmier- bzw. Stylesheetsprache, mit der den Inhalten auf
    unserer Seite ihr Aussehen verliehen wird, bspw. die Farbdarstellung einzelner Worte oder Absätze), werden
    laut Google 24 Stunden im Cache gespeichert.
    Die Fontdateien selbst werden, laut Google, für ein Jahr im Cache gespeichert.
    Nähere Informationen zur Datenspeicherung und zu Google Webfonts finden Sie unter nachfolgendem Link:
    https://developers.google.com/fonts/faq.
    Weitergehende Information zur Datennutzung durch Google erhalten Sie hier:
    https://policies.google.com/privacy?hl=de.
    Unterstützt Ihr Browser Google Webfonts nicht oder wird der Zugriff unterbunden, so werden die Inhalte in
    einer Standartschrift, die auf dem von Ihnen genutzten Endgerät hinterlegt ist, angezeigt.
    15. Begriffserklärung
    Grundlage für die Nachfolgenden Begriffserklärungen ist die Datenschutz-Grundverordnung (DS-GVO) der
    Europäischen Union (Verordnung EU 2016/679 des Europäischen Parlaments und des Rates).
    „Verantwortlicher“
    Verantwortlicher ist die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein
    oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten
    entscheidet; sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der
    Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien
    seiner Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.
    Somit ist Verantwortlicher grundsätzlich die natürliche Person oder das Unternehmen, welches allein oder
    mit anderen zusammen, über den Grund und die Art und Weise der Verarbeitung personenbezogener Daten

    bestimmt.
    „personenbezogene Daten“
    Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche
    Person („betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder
    indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu
    Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der
    physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser
    natürlichen Person sind, identifiziert werden kann. Personenbezogene Daten sind neben dem Vor- und Zunamen,
    der Adresse, der Telefonnummer, Email-Adresse, des Geburtsdatums, etc. auch die verwendete IP-Adresse,
    Informationen zu den von Ihnen genutzten Geräten, Sprachaufzeichnungen, Ihre Kundenkartennummer, Ihre
    Kontodaten, Ihre Kreditkartennummern, sowie bspw. auch körperliche Merkmale, wie Ihr Gang oder Ihr Aussehen.
    „Verarbeitung“
    Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche
    Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die
    Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die
    Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den
    Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung. Eine Verarbeitung Ihrer
    Daten erfolgt zum Beispiel auch dann, wenn Sie Ihre Kundenkarte im Rahmen des Bezahlvorganges an der Kasse
    vorlegen oder mit der EC-Karte eine Zahlung leisten.
    „Dritter“
    Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, außer der betroffenen
    Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren
    Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu
    verarbeiten.
    „Einschränkung der Verarbeitung“
    Die Einschränkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel, ihre
    zukünftige Verarbeitung einzuschränken.
    „Pseudonymisierung“
    Die Verarbeitung personenbezogener Daten in einer Weise, dass die personenbezogenen Daten ohne
    Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werde
    können, nennt man Pseudonymisierung. Dabei sind diese zusätzlichen Informationen. Darüber hinaus sind
    technische und organisatorische Maßnahmen zu ergreifen, die gewährleisten, dass die personenbezogenen
    Daten nicht einer identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.
    „Einwilligung“
    Unter einer Einwilligung wird jede freiwillige für den bestimmten Fall, in informierter Weise und unmissverständlich
    abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung
    verstanden, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden
    personenbezogenen Daten einverstanden ist.
    <br><br>
    Jan Bratenstein<br>
    Gerlestraße 10<br>
    90459 Nürnberg<br>
    <br><br>
    E-Mail: theblackelephantband@web.de
</p>
</div>