<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>The Black Elephant Band</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />

   <script src='https://cdn.tiny.cloud/1/9rgmvk40sqe0t0kp5vez4ytesqgmtiw4i2fuj3z4evw1t20z/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
   
   <script>
      tinymce.init({
        selector: '#new-blog',
         plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste imagetools wordcount'
  ],
  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fontselect',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  font_formats:
    "Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats"

      });
    </script>
    <script>
       tinymce.init({
          selector: "#edit-blog",
           plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste imagetools wordcount'
  ],
  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fontselect',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  font_formats:
    "Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats"

       });
    </script>
    
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">

</head>

<body>

   <nav>
      <a href="/"><img src="/images/blackelephant_Typo.png" class="homelink"></a>
      <ul id="nav-links">
         <li><a href="/blog">THIS N THAT</a> / </li>
         <li><a href="/about">ABOUT</a> / </li>
         <li><a href="/music">MUSIC</a> / </li>
         <li><a href="/videos">VIDEOS</a> / </li>
         <li><a href="/tour">ON TOUR</a> / </li>
         <li><a href="https://theblackelephantband.bandcamp.com/merch" target="_blank">MERCH</a> / </li>
         <li><a href="/contact">CONTACT</a> / </li>
         <li><a href="/friends">OTHER PROJECTS</a></li>
         {{#if ./user}}
         <li><a href="/auth/logout" class="redlink">LOGOUT</a></li>
         {{/if}}
      </ul>
   </nav>

{{{body}}}

   <footer>
      <div class="mobile-nav-links">
      <ul class="nav-links-footer">
         <li><a href="/blog">THIS N THAT</a></li>
         <li><a href="/about">ABOUT</a></li>
         <li><a href="/tour">ON TOUR</a></li>
         <li><a href="https://theblackelephantband.bandcamp.com/merch" target="_blank">MERCH</a></li>
      </ul>
      <ul class="nav-links-footer">
         <li><a href="/music">MUSIC</a></li>
         <li><a href="/videos">VIDEOS</a></li>
         <li><a href="/contact">CONTACT</a></li>
         <li><a href="/friends">OTHER PROJECTS</a></li>
         {{#if ./user}}
         <li>/ <a href="/auth/logout" class="redlink">LOGOUT</a></li>
         {{/if}}
      </ul>
      <br>
       <hr>
      </div>
      <br>
      <div id="website-links">
         <ul>
            <a href="https://www.facebook.com/theblackelephantband/" target="_blank"><img
                  src="/images/f_logo_RGB-Black_250.png" class="website-logo" alt="Facebook"></a>
            <a href="https://www.instagram.com/theblackelephantband/?hl=en" target="_blank"><img
                  src="/images/glyph-logo_May2016.png" class="website-logo" alt="Instagram"></a>
            <a href="https://www.youtube.com/channel/UCHlmtdIGk8RC-KUdbhe6siw/videos" target="_blank"><img
                  src="/images/yt_logo_mono_dark.png" class="website-logo" alt="YouTube"></a>
            <a href="https://open.spotify.com/artist/0QNDHanFs1grhpNbACJGrl?si=awg6t_JJQIKY-ObREfEaXg"
               target="_blank"><img src="/images/Spotify_Icon_RGB_Black.png" class="website-logo" alt="Spotify"></a>
            <a href="https://theblackelephantband.bandcamp.com/" target="_blank"><img
                  src="/images/bandcamp-button-circle-black-256.png" class="website-logo" alt="Bandcamp"></a>
         </ul>
      </div>
      <a href="/impressum">Impressum</a>
      <br>
   </footer>

   <script src="/js/script.js"></script>
</body>

</html>