{{!-- <div class="transparent">
        <h2>Merch</h2>
<p>You can find a selection of Black Elephant Band merch on my <a
        href="https://theblackelephantband.bandcamp.com/merch">bandcamp</a> page</p>

{{!-- Note for Tom - Bandcamp has been contacted, wait for response for access to API --}}
</div> --}}