<div class="transparent">
    <br>
    <h2>Music</h2>
<br>
<br>
<p>Much more music can be found on my <a href="https://theblackelephantband.bandcamp.com/" class="embedded" target="_blank">Bandcamp page</a></p>
<br>
<br>
{{!-- make a text input and tell Jan what to copy and paste into it. 
for each one, wrap handlesbars around a "this"
make a delete function? --}}

<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=182731046/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://theblackelephantband.bandcamp.com/album/a-masterpiece-of-indecision">A Masterpiece Of Indecision by The Black Elephant Band</a></iframe>
<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1485121065/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://theblackelephantband.bandcamp.com/album/pop-smears">Pop Smears by The Black Elephant Band</a></iframe>
<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3075098630/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://theblackelephantband.bandcamp.com/album/its-been-a-shitshow-so-far">It&#39;s Been A Shitshow So Far by The Black Elephant Band</a></iframe>

{{#each track}}
<div>
    {{{this.track}}}
    {{#if ../user}}
    <br />
    <a href="/music/delete/{{this._id}}">Delete</a>
    {{/if}}
</div>
{{/each}}
<br>
<br>

{{#if user}}
<h3>Add a new album</h3>
<p>You can copy and paste the embed code from Bandcamp into the field below. Ask Tom for a demo ;) </p>
<form action="/music" method="POST">
    <input type="text" name="track">
    <br />
    <button type="submit">Submit</button>
</form>
{{/if}}

</div>