<div class="transparent">
    <br>
    <h2>Music</h2>
<br>
<br>
<p>Much more music can be found on my <a href="https://theblackelephantband.bandcamp.com/" class="embedded" target="_blank">Bandcamp page</a></p>
<br>
<br>

{{#each track}}
<div>
    {{{this.track}}}
    {{#if ../user}}
    <br />
    <a href="/music/delete/{{this._id}}">Delete</a>
    {{/if}}
</div>
{{/each}}
<br>
<br>

{{#if user}}
<h3>Add a new album</h3>
<p>You can copy and paste the embed code from Bandcamp into the field below. Ask Tom for a demo ;) </p>
<form action="/music" method="POST">
    <input type="text" name="track">
    <br />
    <button type="submit">Submit</button>
</form>
{{/if}}

</div>