<div class="transparent">
    <br>
    <h2>Videos</h2>

    <p class="add-padding">Many more videos on my <a href="https://www.youtube.com/channel/UCHlmtdIGk8RC-KUdbhe6siw" target="_blank" class="embedded">youtube page</a></p>

<div class="video-page">
{{#each videos}}
<div class="video-div">
    <iframe class="single-video" src="https://www.youtube.com/embed/{{this.url}}">
    </iframe>
    <br>
    {{#if ../user}}
    <a href="/videos/delete/{{this.url}}" class="edit-links">Delete Video</a>
    {{/if}}
</div>
{{/each}}

{{#if user}}
</div>
<div class="edit-stuff">
<h3>Add a new Video</h3>
<p>Paste the code aftrer the "=" sign of the youtube link</p>
<form action="/videos" method="POST">
    <input type="text" name="videoLink" id="videoLink" placeholder="video-link" required="true">
    <button type="submit">Post video</button>
</form>
</div>
{{/if}}
</div>
