@font-face {
  font-family: "propaganda";
  src: url("../fonts/PROPAGAN.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Jan_complete_yellow.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: 15px;
}

h2 {
  font-family: propaganda;
}

footer {
  background: rgba(255, 255, 255, 0.945);
  padding: 20px 0;
  margin: 30px;
}

nav {
  margin: 30px;
}

.homepage {
  height: 55vh;
  width: 100vw;
}

.website-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.website-logo {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.homelink {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 20px;
}

#nav-links {
  background: rgba(255, 255, 255, 0.945);
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

#nav-links li {
  list-style: none;
  padding: 0 5px;
  font-family: propaganda;
  font-size: 20px;
}

.redlink {
  color: rgb(161, 2, 2);
}

.transparent {
  background: rgba(255, 255, 255, 0.945);
  margin: 30px;
}

.embedded {
  text-decoration: underline;
}

.artist {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
  margin-top: 1.5rem;
  border: 2px solid black;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
  transition: all 0.3s;
}

.artist:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.3s;
}

.artist h3,
.blog-posts h3 {
  padding: 0.5rem;
  font-family: propaganda;
}

.artist p,
.blog-posts p {
  padding: 0.5rem;
}

.overlay {
  margin: auto;
  background-color: rgba(255, 250, 210, 0.747);
  width: 75%;
  padding: 1.2rem;
}

.edit-links {
  color: rgb(161, 2, 2);
  text-decoration: underline;
}

.blog-posts {
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 249, 167, 0.582);
}

.blog-posts p {
  text-align: justify;
}

.about-text p {
  text-align: justify;
  padding: 1rem;
}

.show-me {
  display: block;
}

.video-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  width: 100%;
}

.video-div {
  width: 45%;
}

.single-video {
  border: none;
  padding: 1rem 0;
  width: 100%;
  height: auto;
}

.edit-stuff {
  padding: 2rem;
}

.add-padding {
  padding: 1rem 0 0 0;
}

.music-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.music-album {
  border: none;
  margin: 1rem;
}

.nav-links-footer {
  display: none;
}

hr {
  display: none;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.mobile-nav-links {
  display: none;
}

.impressum {
  padding: 2rem;
  text-align: justify;
}

.impressum-link {
  text-decoration: underline;
}

@media screen and (max-width: 1190px) {
  #nav-links li {
    font-size: 15px;
  }
}

@media screen and (max-width: 920px) {
  #nav-links li {
    font-size: 10px;
  }
}

@media screen and (max-width: 635px) {
  .single-video {
    height: 200px;
  }
  .video-div {
    width: 80%;
  }
  .homepage {
    height: 50%;
  }
  .homelink {
    width: 70%;
  }
  footer {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  hr {
    display: block;
  }
  .mobile-nav-links {
    display: block;
  }
  #nav-links {
    display: none;
  }
  .nav-links-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-links-footer li {
    list-style: none;
    font-family: propaganda;
    font-size: 16px;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 550px) {
  .video-div {
    width: 80%;
  }
  .homelink {
    width: 90%;
  }
  .nav-links-footer li {
    width: 40%;
    padding: 0.5rem 0;
  }
  .transparent {
    margin: 0.5rem;
  }
  footer {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 800px) {
  .single-video {
    height: 250px;
  }
}

@media screen and (min-width: 1100px) {
  .single-video {
    height: 315px;
  }
}

@media screen and (min-width: 1400px) {
  .single-video {
    height: 400px;
  }
}

/* @media screen and (min-width: 1010px) {
  body {
    background-size: 150vw;
  }
} */

@media screen and (max-width: 375px) {
  .band-title {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 300px) {
  #main-email {
    font-size: 0.75rem;
  }
  .band-title {
    font-size: 0.75rem;
  }
  .overlay {
    width: 80%;
    margin: 0.2rem auto;
  }
  .artist {
    width: 80vw;
    margin: 0.2rem auto;
    padding: 0.4rem;
  }
  .artist p {
    display: none;
  }
}
